*{
    font-family: sans-serif;
}
html{
    background-color:rgb(245, 245, 245);
}
h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}
h2{
    font-size: 20px;
    color: color #606060;
    font-weight: 800;
}
p{
    font-size: 14px;
    margin: 30px auto;
}
ul{
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: blue;
    max-width: 40%;
    list-style: none;
}
a{
   font-weight: bold; 
}
.linkLista a{
    color: orange;
    text-decoration: underline;
    font-family: monospace;
    
}
.neuquenRio, .neuquenRio a{
    color: green;
}
li{
    padding: 10px;
    font-family: monospace; 
}
li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}